@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('PagesStyles/home.css');
@import url('PagesStyles/delete.css');

/* Preset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
	user-select: none;
	-webkit-touch-callout: none;
  	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
}
body{
	width: 100%;
	height: 100%;
}
#app{
	width: 100%;
	height: 100%;
}
.div-component{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
textarea {
  resize: none;
}
h1, h2{
	font-weight: 400;
}

/* Navbar Style */
.navbar{
	height: 80px;
	padding: 0 60px 0 60px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	background: #B39DDB;
}
.navbar-item{
	margin: 20px;
	color: #fff;
	padding: 10px;
}
.navbar-item.title{
	font-size: 20px;
	margin-right: auto;
	text-align: center;
}
.navbar-item:hover{
	border-bottom: 1px solid rgba(149, 117, 205, 0.8);
}
.navbar-item.title:hover{
	background: transparent;
	border-radius: 0;
	transition: 0;
}
.nav-icons{
	font-size: 25px;
}

@media screen and (max-width: 960px){
	.navbar{
		padding: 0;
	}
	.navbar-item{
		margin: 10px;
	}
	.navbar-item.title{
		font-size: 18px;
	}
}