@import 'PagesStyles/home.less';

@bodyBg: #0d1117;
@bodyColor: #c9d1d9;
@buttonBg: #21262d;

/* Preset */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
}
button, label, input, a{
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
}
input:-webkit-autofill {
	transition: all ease .5s;
	-webkit-box-shadow: 0 0 0 30px #fff inset;
	-webkit-text-fill-color: #000 !important;
}
body{
	width: 100%;
	height: 100%;
	transition: all ease .5s;
	&.dark{
		background: @bodyBg;
		color: @bodyColor;
		transition: all ease .5s;
		input{
			color: #fff;
		}
		button, .contact-reply, .input-box-select{
			background: @buttonBg;
			transition: all ease .5s;
		}
		input:-webkit-autofill {
			transition: all ease .5s;
			-webkit-box-shadow: 0 0 0 30px @bodyBg inset;
			-webkit-text-fill-color: @bodyColor !important;
		}
	}
	.theme-button{
		width: 100%;
		position: relative;
		visibility: hidden;
		cursor: pointer;
		.theme-icon{
			visibility: visible;
			position: absolute;
			right: 0;
			top: 0;
			font-size: 1.8rem;
			margin: 10px;
			&#sun{
				color: #FFEE58;
			}
			&#moon{
				color: #7986CB;
			}
		}
	}
}
#app{
	width: 100%;
	height: 100%;
}
.div-component{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
textarea {
  resize: none;
}
h1, h2{
	font-weight: 400;
}